input:-moz-placeholder {
    color:    #999;
}


.holder {
	overflow-y: auto;
	overflow-x: hidden;
	background: url("../badge_01_background.png") no-repeat center center;
}

.avatar {
	position: absolute;
	top: 10px;
	left: -54px;
	border-radius: 3px;
}

.time {
	position: absolute;
	right: 8px;
	top: 9px;
}
.actions {
	position: absolute;
	bottom: 11px;
	right: 0px;
	margin-bottom: 0px;
	margin-right: 7px;
	display: none;
}

.feed:hover .actions {
	display: block;
}

.actions a {
	font-size: 17px;
	width: 20px;
	height: 20px;
	color: #ccc !important;
}

.actions a:hover {
	text-decoration: none;
	color: #999 !important;
}

form#topform {
	background: url('../img/asfalt.png');
	border-radius: 0px 0px 5px 5px;
}

#writearea {
	width: 90%;
	border: 0px;
	color: #EEE;
	font-size: 30px;
	padding: 5%;
	line-height: 1.2em;
	box-shadow: none;
	margin-bottom: 0px;
	resize: none;
	outline: none;
	background: none;
}

body {
	background: url('../img/low_contrast_linen.png');
}

#maindiv {
	background-color: #fff;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 0 5px 5px rgba(1,1,1,0.2);
}

.feed_content {
	position: relative;
	line-height: 16px;
	padding: 8px 8px 10px 10px;
	min-height: 45px;
	-webkit-user-select: text;
	user-select: text;
	margin-left: 65px;
}

.feed {
	position: relative;
	cursor: pointer;
	display: block;
	min-height: 80px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}


.outside {
	background-color: #444;
	width: 100%;
	padding-bottom: 15px;
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/asfalt.png);
	border-radius: 0px 0px 5px 5px;
}

/* date styling: http://line25.com/ */
.date {
	width: 50px;
	height: 50px;
	background: #444;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	color: #eee;
}

.date p {
	font-family: Helvetica, sans-serif;
	font-size: 23px;
	text-align: center;
	color: #aaa;
	line-height: 1;
	padding: 4px;
}

.date p span {
	background: #444;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	display: block;
	border-top: 2px solid #fff;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	padding: 3px 0 3px 0;
}

@-moz-document url-prefix() {
.date {
padding: 3px 0 0 0;
}
.date p span {
padding: 3px 0 3px 0;
}
#writearea {
padding: 28px;
padding-right: 29px;
}
}

.diary_text {
	font-size: 15px;
	line-height: 1;
	background-color: #fff;
	color: #333;
	padding: 10px 0px;
	font-size: 22px;
	line-height: 1.3;
	border-radius: 5px;
	padding-top: 0px;
}

.timeago {
	color: #999;
}

.footer {  
    text-align: left;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #eee;
}

#filter {
	margin: 10px;
	border: 0px;
	outline: none;
	color: #444;
	border-radius: 17px;
	font-size: 20px;
	padding: 5px 17px;
	padding-left: 5px;
	width: 500px;
}

#x_button {
	font-size: 20px;
	position: relative;
	float: right;
	top: 20px;
	right: 15px;
	text-decoration: none;
	color: #999;
	cursor: pointer;
}

#x_button:hover {
	color: #555;
}

.button_bar a { 
	color: #eee;
	margin: 4px 5px;
	cursor: pointer;
}

.button_bar a:hover {
	color: #0081C2;
	text-decoration: none;
}

.button_bar span {
	font-family: 'Typicons';	
	vertical-align: middle;
	font-size: 18px;
}
